@import url('https://fonts.googleapis.com/css2?family=Alata&family=Crimson+Text&family=Montserrat:wght@300;600&display=swap');


.topcontent{
    color: white;
    position: relative;
    
}
.topcontent__Container{
    position: absolute;
    top: 350px;
   right: 30px;

}
.topcontent__Container > p{
    letter-spacing: 1px;
    text-align: left;
    padding-left: 3px;
    padding-top: 20px;

}
.topcontent__Container > a > button{
    margin-top: 30px;
    text-align: left;
    margin-left: 5px;
    border:none;
    border-radius: 2px;
    outline: none;
}
.topcontent__downloadbutton{
    color:white;
    background-color: red;
    font-size: 15px;
    padding: 10px 30px;
    font-family: "monterrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.topcontent__downloadbutton:hover{
    color: red;
    background-color: white;
    font-weight: 600;
}
.topcontent__workbutton{
    color: white;
    border:1px solid wheat !important;
    background-color: transparent;
    font-size: 14px;
    padding: 9px 45px;
    font-family: "monterrat",sans-serif;
    font-weight: 300;
    cursor: pointer;
}
.topcontent__workbutton:hover{
    color: black;
    background-color: white;
    font-weight: 600;
}

